@font-face {
  font-family: 'Ubuntu', 'Times New Roman', serif;
  font-weight: 400;
  font-style: normal;
  src: "/"
}

@font-face {
  font-family: 'Ubuntu', 'Times New Roman', serif;
  font-weight: 700;
  font-style: normal;
  src: "/"
}

@font-face {
  font-family: 'Ubuntu', 'Times New Roman', serif;
  font-weight: 400;
  font-style: italic;
  src: "/"
}

@font-face {
  font-family: 'Ubuntu', 'Times New Roman', serif;
  font-weight: 700;
  font-style: italic;
  src: "/"
}
